@charset "utf-8";

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sec1{
    height: 80px;
}
#sec2{
    height: 500px;
}
#sec3{
    height: 150px;
}
#sec4{
    height: 400px;
}
#sec5{
    height: 400px;
}
#sec6{
    height: 400px;
}
#sec7{
    height: 400px;
}
#sec8{
    height: 500px;
}
#sec9{
    height: 400px;
}
