body > div {
  width: 1100px;
  border-bottom: 1px solid #eee;
}

#sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec1 div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#sec1 div a {
  width: auto;
  height: 30px;
}
#sec1 div:nth-of-type(2) div {
  display: flex;
  align-items: center;
}
#sec1 div:nth-of-type(2) div img {
  position: absolute;
  width: 15px;
  height: 15px;
}
#sec1 div:nth-of-type(2) input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: #eee;
  border: 0px solid black;
  margin-right: 10px;
}
#sec1 div:nth-of-type(2) img {
  width: 25px;
  height: 25px;
  margin: 10px 10px;
  cursor: pointer;
}

#sec2 div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
#sec2 div:nth-of-type(1) img {
  width: 30px;
  height: 30px;
}
#sec2 div:nth-of-type(2) {
  display: flex;
  align-items: center;
  height: 60px;
}
#sec2 div:nth-of-type(2) button {
  width: 50px;
  height: 30px;
  border-radius: 15px;
  border: 0px solid black;
}
#sec2 div:nth-of-type(2) button:nth-of-type(1) {
  background-color: #009eff;
  color: #eee;
}
#sec2 div:nth-of-type(2) button:nth-of-type(2) {
  background-color: white;
  color: #222;
}

#sec3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
}
#sec3 div {
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#sec3 div a {
  text-align: center;
  width: 70px;
  height: 90px;
}
#sec3 div a img {
  width: 70px;
  height: 70px;
}