body > div {
  width: 1100px;
}

body > div > p:not(:first-of-type),
body > div > p:not(:nth-of-type(2)),
body > div > div > p {
  margin-bottom: -20px;
}

body > div:not(:first-of-type),
body > div:not(:nth-of-type(2)) {
  margin-bottom: 60px;
}

body > div > button {
  cursor: pointer;
}

#sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
#sec1 div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#sec1 div a {
  width: auto;
  height: 30px;
}
#sec1 div:nth-of-type(2) div {
  display: flex;
  align-items: center;
}
#sec1 div:nth-of-type(2) div img {
  position: absolute;
  width: 15px;
  height: 15px;
}
#sec1 div:nth-of-type(2) input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: #eee;
  border: 0px solid black;
  margin-right: 10px;
}
#sec1 div:nth-of-type(2) img {
  width: 25px;
  height: 25px;
  margin: 10px 10px;
  cursor: pointer;
}

#sec2 {
  position: relative;
  margin-bottom: 20px;
}
#sec2 div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 0px;
}
#sec2 div:nth-of-type(1) img {
  width: 30px;
  height: 30px;
}
#sec2 div:nth-of-type(1) p {
  margin-bottom: 0px;
}
#sec2 div:nth-of-type(2) {
  display: flex;
  align-items: center;
  height: 60px;
}
#sec2 div:nth-of-type(2) button {
  width: 50px;
  height: 30px;
  border-radius: 15px;
  border: 0px solid black;
}
#sec2 div:nth-of-type(2) button:nth-of-type(1) {
  background-color: #009eff;
  color: #eee;
}
#sec2 div:nth-of-type(2) button:nth-of-type(2) {
  background-color: white;
  color: #222;
}
#sec2 div:nth-of-type(3) {
  width: 1100px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
#sec2 div:nth-of-type(3) div {
  width: 10000px;
  height: 400px;
}
#sec2 div:nth-of-type(3) div div {
  width: 1000px;
  height: 400px;
  border-radius: 5px;
  background-color: #009eff;
}
#sec2 div:nth-of-type(3) div div:not(:nth-of-type(1)) {
  width: 44px;
  margin-left: 6px;
}
#sec2 > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease;
}
#sec2 > button:nth-of-type(1) {
  top: 290px;
  left: -20px;
}
#sec2 > button:nth-of-type(2) {
  top: 290px;
  right: -20px;
}
#sec2 > button:hover {
  color: #aaa;
}

#sec3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  padding: 0px;
  margin-bottom: 0px;
}
#sec3 div {
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#sec3 div a {
  text-align: center;
  width: 70px;
  height: 90px;
}
#sec3 div a img {
  width: 70px;
  height: 70px;
}

#sec4 {
  width: 1100px;
  position: relative;
}
#sec4 p {
  height: 60px;
}
#sec4 div {
  width: 1100px;
  overflow: hidden;
}
#sec4 div > div {
  width: 2300px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
}
#sec4 div > div div {
  width: 178.3px;
  height: 100%;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: space-between;
}
#sec4 div > div div img {
  width: 178.3px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
#sec4 div > div div h4 {
  font-family: "KoPubWorldDotum";
  font-size: 16px;
}
#sec4 div > div div h6 {
  font-family: "KoPubWorldDotum";
  font-size: 12px;
  color: #aaa;
}
#sec4 > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease;
}
#sec4 > button:nth-of-type(1) {
  top: 150px;
  left: -20px;
}
#sec4 > button:nth-of-type(2) {
  top: 150px;
  right: -20px;
}
#sec4 > button:hover {
  color: #aaa;
}

#sec5 {
  position: relative;
}
#sec5 p {
  height: 60px;
  width: 1100px;
}
#sec5 > div {
  width: 1100px;
  overflow: hidden;
  height: 440px;
}
#sec5 > div > div {
  width: 2200px;
  height: 440px;
  display: flex;
}
#sec5 > div > div > div {
  width: 380px;
  height: 100%;
  margin-right: 10px;
  background-color: #009eff;
  border-radius: 5px;
}
#sec5 > div > div > div > div {
  width: 100%;
  height: 140px;
  background-color: lightblue;
  margin-bottom: 10px;
}
#sec5 > div > div > div:nth-of-type(6),
#sec5 > div > div > div:nth-of-type(3) {
  margin-right: 0px;
}
#sec5 > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease;
}
#sec5 > button:nth-of-type(1) {
  top: 240px;
  left: -20px;
}
#sec5 > button:nth-of-type(2) {
  top: 240px;
  right: -20px;
}
#sec5 > button:hover {
  color: #aaa;
}

#sec6 {
  width: 1100px;
  position: relative;
}
#sec6 p {
  height: 60px;
}
#sec6 > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
#sec6 > div:nth-of-type(1) p:nth-of-type(2) {
  cursor: pointer;
}
#sec6 div:nth-of-type(2) {
  width: 1100px;
  overflow: hidden;
}
#sec6 div:nth-of-type(2) > div {
  width: 2300px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
}
#sec6 div:nth-of-type(2) > div div {
  width: 178.3px;
  height: 100%;
  border-radius: 5px;
  margin-right: 6px;
}
#sec6 div:nth-of-type(2) > div img {
  width: 178.3px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
#sec6 div:nth-of-type(2) > div h4 {
  font-family: "KoPubWorldDotum";
  font-size: 16px;
}
#sec6 div:nth-of-type(2) > div h6 {
  font-family: "KoPubWorldDotum";
  font-size: 12px;
  color: #aaa;
}
#sec6 > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease;
}
#sec6 > button:nth-of-type(1) {
  top: 150px;
  left: -20px;
}
#sec6 > button:nth-of-type(2) {
  top: 150px;
  right: -20px;
}
#sec6 > button:hover {
  color: #aaa;
}

#sec7 {
  position: relative;
  width: 1100px;
}
#sec7 p {
  height: 60px;
}
#sec7 div > p:nth-of-type(2) {
  cursor: pointer;
}
#sec7 > div:nth-of-type(1) {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec7 > div:nth-of-type(2) {
  width: 1100px;
  overflow: hidden;
  height: 440px;
}
#sec7 > div:nth-of-type(2) > div {
  width: 2200px;
  height: 440px;
  display: flex;
}
#sec7 > div:nth-of-type(2) > div > div {
  width: 380px;
  height: 100%;
  margin-right: 10px;
  background-color: #009eff;
  border-radius: 5px;
}
#sec7 > div:nth-of-type(2) > div > div > div {
  width: 100%;
  height: 140px;
  background-color: lightblue;
  margin-bottom: 10px;
}
#sec7 > div:nth-of-type(2) > div > div:nth-of-type(6),
#sec7 > div:nth-of-type(2) > div > div:nth-of-type(3) {
  margin-right: 0px;
}
#sec7 > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease;
}
#sec7 > button:nth-of-type(1) {
  top: 240px;
  left: -20px;
}
#sec7 > button:nth-of-type(2) {
  top: 240px;
  right: -20px;
}
#sec7 > button:hover {
  color: #aaa;
}

#sec8 {
  width: 1100px;
}
#sec8 p {
  margin-bottom: 20px;
}
#sec8 div {
  height: 433px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
#sec8 div div {
  width: 19.5%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
#sec8 div div img {
  width: auto;
  height: 100%;
  z-index: 1;
}
#sec8 div div div:nth-of-type(1) {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 75%;
  border-radius: 0px;
}
#sec8 div div div:nth-of-type(2) {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 55%;
  border-radius: 0px;
}
#sec8 div div p {
  position: absolute;
  text-align: left;
  top: 300px;
  line-height: 100%;
  z-index: 20;
}
#sec8 div div:nth-of-type(1) div:nth-of-type(1) {
  background-color: rgb(3, 126, 193);
}
#sec8 div div:nth-of-type(1) div:nth-of-type(2) {
  background: green;
  background: linear-gradient(to top, rgb(3, 126, 193), rgba(0, 255, 0, 0));
}
#sec8 div div:nth-of-type(2) div:nth-of-type(1) {
  background-color: rgb(167, 31, 45);
}
#sec8 div div:nth-of-type(2) div:nth-of-type(2) {
  background: green;
  background: linear-gradient(to top, rgb(167, 31, 45), rgba(0, 255, 0, 0));
}
#sec8 div div:nth-of-type(3) div:nth-of-type(1) {
  background-color: rgb(101, 70, 150);
}
#sec8 div div:nth-of-type(3) div:nth-of-type(2) {
  background: green;
  background: linear-gradient(to top, rgb(101, 70, 150), rgba(0, 255, 0, 0));
}
#sec8 div div:nth-of-type(4) div:nth-of-type(1) {
  background-color: rgb(3, 175, 189);
}
#sec8 div div:nth-of-type(4) div:nth-of-type(2) {
  background: green;
  background: linear-gradient(to top, rgb(3, 175, 189), rgba(0, 255, 0, 0));
}
#sec8 div div:nth-of-type(5) div:nth-of-type(1) {
  background-color: rgb(236, 113, 79);
}
#sec8 div div:nth-of-type(5) div:nth-of-type(2) {
  background: green;
  background: linear-gradient(to top, rgb(236, 113, 79), rgba(0, 255, 0, 0));
}

#sec9 {
  width: 1100px;
  position: relative;
}
#sec9 p {
  height: 60px;
}
#sec9 > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
#sec9 > div:nth-of-type(1) p:nth-of-type(2) {
  cursor: pointer;
}
#sec9 div:nth-of-type(2) {
  width: 1100px;
  overflow: hidden;
}
#sec9 div:nth-of-type(2) > div {
  width: 2300px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
}
#sec9 div:nth-of-type(2) > div div {
  width: 178.3px;
  height: 100%;
  border-radius: 5px;
  margin-right: 6px;
}
#sec9 div:nth-of-type(2) > div img {
  width: 178.3px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
#sec9 div:nth-of-type(2) > div h4 {
  font-family: "KoPubWorldDotum";
  font-size: 16px;
}
#sec9 div:nth-of-type(2) > div h6 {
  font-family: "KoPubWorldDotum";
  font-size: 12px;
  color: #aaa;
}
#sec9 > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease;
}
#sec9 > button:nth-of-type(1) {
  top: 150px;
  left: -20px;
}
#sec9 > button:nth-of-type(2) {
  top: 150px;
  right: -20px;
}
#sec9 > button:hover {
  color: #aaa;
}