.blackhr {
  width: 100%;
  border: none;
  border-bottom: 2px solid #222;
  height: 1px;
}

button {
  cursor: pointer;
}

.height12 {
  height: 300px;
}

.sub12text {
  display: block;
}

#sub1 {
  width: 1000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#sub1 #sub2 {
  width: 77%;
  height: auto;
}
#sub1 #sub2 > #sub3, #sub1 #sub2 #sub4, #sub1 #sub2 #sub5, #sub1 #sub2 #sub6, #sub1 #sub2 #sub7, #sub1 #sub2 #sub8, #sub1 #sub2 #sub9, #sub1 #sub2 #sub10, #sub1 #sub2 #sub11, #sub1 #sub2 #sub12, #sub1 #sub2 #sub13, #sub1 #sub2 #sub14, #sub1 #sub2 #sub15 {
  width: 100%;
  padding: 15px;
}
#sub1 #sub2 #sub3 {
  height: 400px;
  display: flex;
  justify-content: space-between;
}
#sub1 #sub2 #sub3 #sub3Img {
  width: 30%;
  text-align: center;
  height: 400px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sub1 #sub2 #sub3 #sub3Img img {
  width: 200px;
}
#sub1 #sub2 #sub3 #sub3Img button {
  width: 130px;
  height: 40px;
  border: 1px solid #009eff;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  transition: all 0.3s ease;
}
#sub1 #sub2 #sub3 #sub3Img button:hover {
  background-color: #e6f6ff;
}
#sub1 #sub2 #sub3 #sub3Text {
  width: 67%;
  height: 360px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
#sub1 #sub2 #sub3 #sub3Text > p:first-of-type, #sub1 #sub2 #sub3 #sub3Text p:nth-of-type(3) {
  width: 100%;
}
#sub1 #sub2 #sub3 #sub3Text > p:first-of-type > span:hover {
  color: #009eff;
}
#sub1 #sub2 #sub3 #sub3Text > div:first-of-type > p > span {
  font-weight: 700;
}
#sub1 #sub2 #sub3 #sub3Text > div:first-of-type > p > span:hover {
  color: #009eff;
}
#sub1 #sub2 #sub3 #sub3Text > div:nth-of-type(2) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
#sub1 #sub2 #sub3 #sub3Text > div:nth-of-type(2) > button:first-child {
  background-color: #009eff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  width: 40px;
  height: 20px;
}
#sub1 #sub2 #sub3 #sub3Text > div:nth-of-type(2) > button:nth-of-type(2) {
  border: none;
  background-color: white;
  position: absolute;
  right: 0;
}
#sub1 #sub2 #sub3 #sub3Text > div:nth-of-type(2) > span {
  transition: 0.1s all ease;
}
#sub1 #sub2 #sub3 #sub3Text > div:nth-of-type(2) > span:hover {
  color: #009eff;
}
#sub1 #sub2 #sub3 #sub3Text #Sub3Price {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
}
#sub1 #sub2 #sub3 #sub3Text #Sub3Price > div:first-child {
  width: 30%;
  height: 70px;
  border: 1px solid #ddd;
  border-left: none;
  background-color: #eff6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sub1 #sub2 #sub3 #sub3Text #Sub3Price > div:nth-of-type(2) {
  width: 70%;
  height: 70px;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
}
#sub1 #sub2 #sub3 #sub3Text #Sub3Price > div:nth-of-type(2) > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#sub1 #sub2 #sub3 #sub3Text #Sub3Price > div:nth-of-type(2) > div > p {
  padding: 7px;
}
#sub1 #sub2 #sub3 #sub3Text > #sub3Button {
  display: flex;
  justify-content: end;
  width: 100%;
}
#sub1 #sub2 #sub3 #sub3Text > #sub3Button button {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
  margin-left: 5px;
  text-align: center;
  transition: all 0.2s ease;
}
#sub1 #sub2 #sub3 #sub3Text > #sub3Button button img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
#sub1 #sub2 #sub3 #sub3Text > #sub3Button button:hover {
  background-color: #eee;
}
#sub1 #sub2 #sub3 #sub3Text > #sub3Button button:last-child {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #009eff;
  font-size: 16px;
  color: white;
  font-family: "KoPubWorldDotum";
  font-weight: 700;
}
#sub1 #sub2 #sub3 #sub3Text > #sub3Button button:last-child:hover {
  background-color: #0c8ad8;
}
#sub1 #sub2 #sub4 {
  width: 98%;
  border: 5px solid #eee;
  margin: 10px;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#sub1 #sub2 #sub4 img {
  width: 10px;
  vertical-align: middle;
  margin-right: 3px;
}
#sub1 #sub2 #sub4 table:nth-of-type(1) {
  width: 40%;
  height: 90%;
}
#sub1 #sub2 #sub4 table:nth-of-type(1) th {
  vertical-align: top;
}
#sub1 #sub2 #sub4 table:nth-of-type(2) {
  width: 60%;
  height: 50%;
}
#sub1 #sub2 #sub4 th {
  text-align: left;
  width: 80px;
}
#sub1 #sub2 #sub5 #sub5Up {
  opacity: 0;
  top: 540px;
}
#sub1 #sub2 #sub6 #sub6Up {
  opacity: 0;
  top: 1170px;
}
#sub1 #sub2 #sub6, #sub1 #sub2 #sub5, #sub1 #sub2 #sub9, #sub1 #sub2 #sub10 {
  height: 265px;
  margin-bottom: 50px;
  position: relative;
}
#sub1 #sub2 #sub6 .wrap, #sub1 #sub2 #sub5 .wrap, #sub1 #sub2 #sub9 .wrap, #sub1 #sub2 #sub10 .wrap {
  overflow: hidden;
  height: 215px;
}
#sub1 #sub2 #sub6 #textBox2, #sub1 #sub2 #sub6 #textBox1, #sub1 #sub2 #sub6 #textBox3, #sub1 #sub2 #sub6 #textBox4, #sub1 #sub2 #sub5 #textBox2, #sub1 #sub2 #sub5 #textBox1, #sub1 #sub2 #sub5 #textBox3, #sub1 #sub2 #sub5 #textBox4, #sub1 #sub2 #sub9 #textBox2, #sub1 #sub2 #sub9 #textBox1, #sub1 #sub2 #sub9 #textBox3, #sub1 #sub2 #sub9 #textBox4, #sub1 #sub2 #sub10 #textBox2, #sub1 #sub2 #sub10 #textBox1, #sub1 #sub2 #sub10 #textBox3, #sub1 #sub2 #sub10 #textBox4 {
  line-height: 180%;
  padding: 20px 0px;
}
#sub1 #sub2 #sub6 button, #sub1 #sub2 #sub5 button, #sub1 #sub2 #sub9 button, #sub1 #sub2 #sub10 button {
  position: absolute;
  top: 265px;
  right: 0px;
  margin-right: 20px;
  border: 0px solid black;
  background-color: white;
  display: flex;
  align-items: center;
}
#sub1 #sub2 #sub6 button img, #sub1 #sub2 #sub5 button img, #sub1 #sub2 #sub9 button img, #sub1 #sub2 #sub10 button img {
  width: 15px;
  height: auto;
}
#sub1 #sub2 #sub7 {
  height: 400px;
  border-bottom: 1px solid #ddd;
}
#sub1 #sub2 #sub7 div:nth-of-type(1) {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
#sub1 #sub2 #sub7 div:nth-of-type(1) button {
  background-color: white;
  border: none;
  width: 60px;
  height: 45px;
}
#sub1 #sub2 #sub7 div:nth-of-type(1) span:nth-of-type(1) > button {
  border-bottom: 1px solid black;
}
#sub1 #sub2 #sub7 div:nth-of-type(1) span:nth-of-type(2) > button {
  border-bottom: 1px solid #ddd;
}
#sub1 #sub2 #sub7 div:nth-of-type(2) {
  height: 60px;
  display: flex;
  align-items: center;
}
#sub1 #sub2 #sub7 div:nth-of-type(3) {
  height: 50px;
}
#sub1 #sub2 #sub7 div:nth-of-type(3) button {
  width: 160px;
  height: 30px;
  border: 1px solid #009eff;
  background-color: white;
  border-radius: 5px;
  transition: all 0.2s ease;
}
#sub1 #sub2 #sub7 div:nth-of-type(3) button:hover {
  background-color: #e6f6ff;
}
#sub1 #sub2 #sub7 table {
  height: 130px;
}
#sub1 #sub2 #sub7 table th {
  width: 40px;
  color: #aaa;
  text-align: left;
}
#sub1 #sub2 #sub7 table tr:nth-last-of-type(1) > td > a {
  color: #009eff;
}
#sub1 #sub2 #sub7 table tr:nth-last-of-type(1) > td > a:hover {
  font-weight: 700;
}
#sub1 #sub2 #sub7 table tr > td {
  font-weight: 500;
}
#sub1 #sub2 #sub7 div:nth-of-type(4) {
  display: flex;
  justify-content: end;
  align-items: center;
}
#sub1 #sub2 #sub7 div:nth-of-type(4) button {
  font-size: 10px;
  border: 1px solid #999;
  background-color: white;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 7px;
  color: #999;
  transition: all 0.2s ease;
}
#sub1 #sub2 #sub7 div:nth-of-type(4) button img {
  width: 8px;
  opacity: 0.7;
}
#sub1 #sub2 #sub7 div:nth-of-type(4) button:hover {
  background-color: #eee;
}
#sub1 #sub2 #sub8 {
  height: 300px;
}
#sub1 #sub2 #sub8 > .sellbox2 > div {
  text-align: left;
  margin-left: 20px;
}
#sub1 #sub2 #sub9 #sub9Up {
  opacity: 0;
  top: 390px;
}
#sub1 #sub2 #sub10 #sub10Up {
  opacity: 0;
  top: 790px;
}
#sub1 #sub2 #sub11 {
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: space-between;
}
#sub1 #sub2 #sub11 #sub11Star {
  width: 15%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
}
#sub1 #sub2 #sub11 #sub11Star > p {
  margin-bottom: 5px;
}
#sub1 #sub2 #sub11 #sub11Star > p:nth-of-type(4) {
  margin-top: 5px;
}
#sub1 #sub2 #sub11 #sub11Star > p:nth-of-type(3) {
  font-size: 18px;
}
#sub1 #sub2 #sub11 #sub11Star > hr {
  margin: 3px 0px;
}
#sub1 #sub2 #sub11 #sub11Star > p {
  width: 100%;
}
#sub1 #sub2 #sub11 #sub11Star > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#sub1 #sub2 #sub11 #sub11Star hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}
#sub1 #sub2 #sub11 .stars {
  width: 80px;
  height: 7px;
  background-color: #dedede;
  font-weight: 600;
  font-size: 0.8rem;
}
#sub1 #sub2 #sub11 .stars #star5 {
  width: 86%;
  height: 7px;
  padding: 0;
  text-align: center;
  background-color: #aaa;
  color: #111;
}
#sub1 #sub2 #sub11 .stars #star4 {
  width: 11%;
  height: 7px;
  padding: 0;
  text-align: center;
  background-color: #aaa;
  color: #111;
}
#sub1 #sub2 #sub11 .stars #star3 {
  width: 2%;
  height: 7px;
  padding: 0;
  text-align: center;
  background-color: #aaa;
  color: #111;
}
#sub1 #sub2 #sub11 .stars #star1 {
  width: 1%;
  height: 7px;
  padding: 0;
  text-align: center;
  background-color: #aaa;
  color: #111;
}
#sub1 #sub2 #sub11 #sub11Text {
  width: 84%;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
#sub1 #sub2 #sub11 #sub11Text > p {
  width: 100%;
  text-align: center;
  height: 16px;
}
#sub1 #sub2 #sub11 #sub11Text > p:nth-of-type(1) {
  font-size: 18px;
}
#sub1 #sub2 #sub11 #sub11Text > #mal {
  position: absolute;
}
#sub1 #sub2 #sub11 #sub11Text > #mal > div {
  position: absolute;
  width: 120px;
  height: 35px;
  background-color: #009eff;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 250%;
  top: -140px;
  left: -65px;
  opacity: 0;
}
#sub1 #sub2 #sub11 #sub11Text > #mal > div:after {
  content: "";
  position: absolute;
  right: 50px;
  top: 35px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #009eff;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 50px;
  line-height: 100%;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(2) > div {
  height: 50px;
  width: 70px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(2) > div:not(:last-child) {
  border-right: 1px solid #eee;
}
#sub1 #sub2 #sub11 #sub11Text textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  text-align: left;
  font-family: "KoPubWorldDotum";
  font-size: 14px;
  color: #222;
  font-weight: 500;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) > button:nth-of-type(1):hover {
  background-color: #eee;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) button {
  width: 150px;
  height: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
  transition: 0.2s all ease;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) button > img {
  width: 14px;
  opacity: 0.5;
  position: absolute;
  top: 7px;
  left: 15px;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) > div {
  width: 250px;
  display: flex;
  justify-content: end;
  align-items: center;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) > div > button {
  width: 100px;
  background-color: #009eff;
  border: none;
  transition: 0.2s all ease;
}
#sub1 #sub2 #sub11 #sub11Text > div:nth-of-type(3) > div > button:hover {
  background-color: #0c8ad8;
}
#sub1 #sub2 #sub12 {
  height: 905px;
  margin-bottom: 10px;
  overflow: hidden;
}
#sub1 #sub2 #sub12 > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
#sub1 #sub2 #sub12 > div:nth-of-type(1) > div > button {
  width: auto;
  height: 40px;
  padding: 3px 5px;
  border: none;
  background-color: white;
}
#sub1 #sub2 #sub12 > div:nth-of-type(1) > div > button:not(:first-child) {
  opacity: 0.5;
}
#sub1 #sub2 #sub12 > div:nth-of-type(1) > div:nth-of-type(1) > button:first-child {
  border-bottom: 1px solid black;
}
#sub1 #sub2 #sub12 hr {
  border: none;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ddd;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > p {
  width: 100%;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > p:first-child {
  color: tomato;
  font-size: 14px;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > div:nth-of-type(1) {
  width: 100%;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > div:nth-of-type(1) > button {
  background-color: #666;
  border: none;
  color: white;
  font-size: 10px;
  border-radius: 5px;
  width: 40px;
  height: 20px;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 60%;
  padding: 0px;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > div:nth-of-type(2) button {
  width: 30%;
  height: 25px;
  background-color: white;
  border: none;
  font-size: 12px;
  text-align: left;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > div:nth-of-type(2) button:nth-of-type(2) {
  text-align: center;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(1) > div:nth-of-type(2) button:hover {
  font-weight: 700;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(2) {
  width: 60%;
  padding: 20px 0px;
  font-size: 13px;
  margin-left: -60px;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(3) {
  display: flex;
  align-items: end;
  width: 15%;
  padding: 20px 0px;
  justify-content: end;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(3) img {
  width: 10px;
  vertical-align: center;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(3) button {
  width: 50px;
  height: 25px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 5px;
  font-family: "KoPubWorldDotum";
  transition: 0.2s all ease;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(3) button > * {
  opacity: 0.5;
}
#sub1 #sub2 #sub12 > div:not(:nth-of-type(1)) > div:nth-of-type(3) button:hover {
  background-color: #eee;
}
#sub1 #sub2 #sub12button {
  margin-bottom: 40px;
}
#sub1 #sub2 #sub12button button:nth-of-type(1) {
  width: 100%;
  height: 50px;
  border: 2px solid #ddd;
  background-color: white;
}
#sub1 #sub2 #sub12button button:nth-of-type(2) {
  border: none;
  background-color: white;
  height: 20px;
  margin: 10px 0px;
}
#sub1 #sub2 #sub12button div {
  width: 100%;
  height: auto;
  background-color: #eee;
  padding: 20px;
  display: none;
}
#sub1 #sub2 #sub13 {
  height: 300px;
}
#sub1 #sub2 #sub13 .blackhr {
  margin-top: -20px;
}
#sub1 #sub2 #sub14, #sub1 #sub2 #sub15 {
  height: 600px;
}
#sub1 #sub2 #sub14 .blackhr, #sub1 #sub2 #sub15 .blackhr {
  margin-top: -30px;
}
#sub1 #sub2 #sub8, #sub1 #sub2 #sub13, #sub1 #sub2 #sub14, #sub1 #sub2 #sub15 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
#sub1 #sub2 #sub8 p, #sub1 #sub2 #sub13 p, #sub1 #sub2 #sub14 p, #sub1 #sub2 #sub15 p {
  width: 100%;
  height: 40px;
}
#sub1 #sub2 #sub8 .blackhr, #sub1 #sub2 #sub13 .blackhr, #sub1 #sub2 #sub14 .blackhr, #sub1 #sub2 #sub15 .blackhr {
  width: 100%;
  border: none;
  border-bottom: 2px solid #222;
  height: 1px;
}
#sub1 #sub2 #sub8 .sellbox, #sub1 #sub2 #sub8 .sellbox1, #sub1 #sub2 #sub8 .sellbox1_1, #sub1 #sub2 #sub8 .sellbox2, #sub1 #sub2 #sub13 .sellbox, #sub1 #sub2 #sub13 .sellbox1, #sub1 #sub2 #sub13 .sellbox1_1, #sub1 #sub2 #sub13 .sellbox2, #sub1 #sub2 #sub14 .sellbox, #sub1 #sub2 #sub14 .sellbox1, #sub1 #sub2 #sub14 .sellbox1_1, #sub1 #sub2 #sub14 .sellbox2, #sub1 #sub2 #sub15 .sellbox, #sub1 #sub2 #sub15 .sellbox1, #sub1 #sub2 #sub15 .sellbox1_1, #sub1 #sub2 #sub15 .sellbox2 {
  width: 20%;
  text-align: center;
}
#sub1 #sub2 #sub8 .sellbox img, #sub1 #sub2 #sub8 .sellbox1 img, #sub1 #sub2 #sub8 .sellbox1_1 img, #sub1 #sub2 #sub8 .sellbox2 img, #sub1 #sub2 #sub13 .sellbox img, #sub1 #sub2 #sub13 .sellbox1 img, #sub1 #sub2 #sub13 .sellbox1_1 img, #sub1 #sub2 #sub13 .sellbox2 img, #sub1 #sub2 #sub14 .sellbox img, #sub1 #sub2 #sub14 .sellbox1 img, #sub1 #sub2 #sub14 .sellbox1_1 img, #sub1 #sub2 #sub14 .sellbox2 img, #sub1 #sub2 #sub15 .sellbox img, #sub1 #sub2 #sub15 .sellbox1 img, #sub1 #sub2 #sub15 .sellbox1_1 img, #sub1 #sub2 #sub15 .sellbox2 img {
  width: 70%;
  border: 1px solid #ddd;
}
#sub1 #sub2 #sub8 .sellbox h4, #sub1 #sub2 #sub8 .sellbox h6, #sub1 #sub2 #sub8 .sellbox1 h4, #sub1 #sub2 #sub8 .sellbox1 h6, #sub1 #sub2 #sub8 .sellbox1_1 h4, #sub1 #sub2 #sub8 .sellbox1_1 h6, #sub1 #sub2 #sub8 .sellbox2 h4, #sub1 #sub2 #sub8 .sellbox2 h6, #sub1 #sub2 #sub13 .sellbox h4, #sub1 #sub2 #sub13 .sellbox h6, #sub1 #sub2 #sub13 .sellbox1 h4, #sub1 #sub2 #sub13 .sellbox1 h6, #sub1 #sub2 #sub13 .sellbox1_1 h4, #sub1 #sub2 #sub13 .sellbox1_1 h6, #sub1 #sub2 #sub13 .sellbox2 h4, #sub1 #sub2 #sub13 .sellbox2 h6, #sub1 #sub2 #sub14 .sellbox h4, #sub1 #sub2 #sub14 .sellbox h6, #sub1 #sub2 #sub14 .sellbox1 h4, #sub1 #sub2 #sub14 .sellbox1 h6, #sub1 #sub2 #sub14 .sellbox1_1 h4, #sub1 #sub2 #sub14 .sellbox1_1 h6, #sub1 #sub2 #sub14 .sellbox2 h4, #sub1 #sub2 #sub14 .sellbox2 h6, #sub1 #sub2 #sub15 .sellbox h4, #sub1 #sub2 #sub15 .sellbox h6, #sub1 #sub2 #sub15 .sellbox1 h4, #sub1 #sub2 #sub15 .sellbox1 h6, #sub1 #sub2 #sub15 .sellbox1_1 h4, #sub1 #sub2 #sub15 .sellbox1_1 h6, #sub1 #sub2 #sub15 .sellbox2 h4, #sub1 #sub2 #sub15 .sellbox2 h6 {
  width: 85%;
  text-align: left;
  padding-left: 15%;
}
#sub1 #nav {
  width: 20%;
  height: auto;
  border-left: 1px solid #ddd;
}
#sub1 #nav img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#sub1 #nav table {
  margin: 18px;
  margin-bottom: 0px;
  border-collapse: collapse;
}
#sub1 #nav table th:first-child {
  font-weight: bold;
  text-align: left;
}
#sub1 #nav table tr:not(:first-child) > td:first-child {
  font-weight: bold;
  width: 17%;
  cursor: pointer;
}
#sub1 #nav table td {
  cursor: pointer;
}
#sub1 #nav table tr, #sub1 #nav table th, #sub1 #nav table td {
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}
#sub1 #nav table td:nth-of-type(2):hover {
  color: #009eff;
}
#sub1 #nav button {
  width: 90%;
  margin-left: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
#sub1 #nav button:hover {
  background-color: #dddddd;
}